@import "https://fonts.googleapis.com/css?family=Raleway:400,700|Roboto+Slab:300,400)";.animated {
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s
}

.animated.hinge {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s
}

@-webkit-keyframes flash {
    0%, 50%, 100% {
        opacity: 1
    }

    25%, 75% {
        opacity: 0
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

@-moz-keyframes fadeOut {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

@-o-keyframes fadeOut {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    -moz-animation-name: fadeOut;
    -o-animation-name: fadeOut;
    animation-name: fadeOut
}

@-webkit-keyframes slideInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(2000px)
    }

    100% {
        -webkit-transform: translateX(0)
    }
}

@-moz-keyframes slideInRight {
    0% {
        opacity: 0;
        -moz-transform: translateX(2000px)
    }

    100% {
        -moz-transform: translateX(0)
    }
}

@-o-keyframes slideInRight {
    0% {
        opacity: 0;
        -o-transform: translateX(2000px)
    }

    100% {
        -o-transform: translateX(0)
    }
}

@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateX(2000px)
    }

    100% {
        transform: translateX(0)
    }
}

.slideInRight {
    -webkit-animation-name: slideInRight;
    -moz-animation-name: slideInRight;
    -o-animation-name: slideInRight;
    animation-name: slideInRight
}

@-webkit-keyframes bounceInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-2000px)
    }

    60% {
        opacity: 1;
        -webkit-transform: translateY(30px)
    }

    80% {
        -webkit-transform: translateY(-10px)
    }

    100% {
        -webkit-transform: translateY(0)
    }
}

@-moz-keyframes bounceInDown {
    0% {
        opacity: 0;
        -moz-transform: translateY(-2000px)
    }

    60% {
        opacity: 1;
        -moz-transform: translateY(30px)
    }

    80% {
        -moz-transform: translateY(-10px)
    }

    100% {
        -moz-transform: translateY(0)
    }
}

@-o-keyframes bounceInDown {
    0% {
        opacity: 0;
        -o-transform: translateY(-2000px)
    }

    60% {
        opacity: 1;
        -o-transform: translateY(30px)
    }

    80% {
        -o-transform: translateY(-10px)
    }

    100% {
        -o-transform: translateY(0)
    }
}

@keyframes bounceInDown {
    0% {
        opacity: 0;
        transform: translateY(-2000px)
    }

    60% {
        opacity: 1;
        transform: translateY(30px)
    }

    80% {
        transform: translateY(-10px)
    }

    100% {
        transform: translateY(0)
    }
}

.bounceInDown {
    -webkit-animation-name: bounceInDown;
    -moz-animation-name: bounceInDown;
    -o-animation-name: bounceInDown;
    animation-name: bounceInDown
}

@-webkit-keyframes bounceOutUp {
    0% {
        -webkit-transform: translateY(0)
    }

    20% {
        opacity: 1;
        -webkit-transform: translateY(20px)
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(-2000px)
    }
}

@-moz-keyframes bounceOutUp {
    0% {
        -moz-transform: translateY(0)
    }

    20% {
        opacity: 1;
        -moz-transform: translateY(20px)
    }

    100% {
        opacity: 0;
        -moz-transform: translateY(-2000px)
    }
}

@-o-keyframes bounceOutUp {
    0% {
        -o-transform: translateY(0)
    }

    20% {
        opacity: 1;
        -o-transform: translateY(20px)
    }

    100% {
        opacity: 0;
        -o-transform: translateY(-2000px)
    }
}

@keyframes bounceOutUp {
    0% {
        transform: translateY(0)
    }

    20% {
        opacity: 1;
        transform: translateY(20px)
    }

    100% {
        opacity: 0;
        transform: translateY(-2000px)
    }
}

.bounceOutUp {
    -webkit-animation-name: bounceOutUp;
    -moz-animation-name: bounceOutUp;
    -o-animation-name: bounceOutUp;
    animation-name: bounceOutUp
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    /* font-size: 100%;
    font: inherit; */
    vertical-align: baseline
}



body {
    line-height: 1
}

ol,ul {
    list-style: none
}

blockquote {
    quotes: none
}

blockquote:before,blockquote:after {
    content: '';
    content: none
}



html {
    overflow: hidden;
    max-height: 100%
}

body {
    width: 100%;
    *zoom:1;font-family: "Raleway", sans-serif;
    font-size: 1em;
    overflow: auto
}

body:before,body:after {
    content: "";
    display: table
}

body:after {
    clear: both
}

::selection {
    background: #fae3df
}

::-moz-selection {
    background: #fae3df
}

@font-face {
    font-family: "foundation-icons";
    src: url("../fonts/foundation-icons/foundation-icons.eot");
    src: url("../fonts/foundation-icons/foundation-icons.eot?") format("embedded-opentype"),url("../fonts/foundation-icons/foundation-icons.woff") format("woff"),url("../fonts/foundation-icons/foundation-icons.ttf") format("truetype"),url("../fonts/foundation-icons/foundation-icons.svg") format("svg");
    font-weight: normal;
    font-style: normal
}

.icon:before {
    font-family: "foundation-icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit
}

.icon-comment-quotes:before {
    content: "\f12f"
}

.icon-layout:before {
    content: "\f162"
}

.icon-lightbulb:before {
    content: "\f163"
}

.icon-list:before {
    content: "\f169"
}

.icon-mail:before {
    content: "\f16d"
}

.icon-monitor:before {
    content: "\f179"
}

.icon-pencil:before {
    content: "\f194"
}

.icon-rss:before {
    content: "\f1aa"
}

.icon-social-facebook:before {
    content: "\f1c4"
}

.icon-social-github:before {
    content: "\f1c9"
}

.icon-social-linkedin:before {
    content: "\f1d0"
}

.icon-social-twitter:before {
    content: "\f1e4"
}

.icon-wrench:before {
    content: "\f215"
}

.icon-x-circle:before {
    content: "\f216"
}

.icon-x:before {
    content: "\f217"
}

a {
    text-decoration: none;
    color: #e25440
}

a:hover {
    color: #b9301c;
    transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s
}

.intro {
    font-family: "Roboto Slab", serif;
    font-size: 1.2em;
    font-weight: lighter;
    color: #888888
}



.container {
    position: relative;
    z-index: 500;
    width: 940px;
    margin: 0 auto
}

.content-wrapper {
    z-index: 800;
    width: 75%;
    max-width: 1000px;
    margin-left: 25%
}

.content-wrapper__inner {
    margin: 0 10%;
    padding: 50px 0
}


.avatar,.logo {
    border-radius: 50%;
    border: 3px solid #eeeeee;
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.3)
}

hr {
    border: none
}

.section-title__divider {
    width: 30%;
    margin: 2.2em 0 2.1em 0;
    border-top: 1px solid #dedede
}

.hidden {
    display: none !important
}


.panel {
    display: table;
    width: 100%;
    height: 100%
}

.panel__vertical {
    display: table-cell;
    vertical-align: middle
}

.panel-title {
    margin: 0 0 5px 0;
    font-size: 2.5em;
    letter-spacing: 4px;
    color: #f0f0f0
}

.panel-cover {
    display: block;
    position: fixed;
    z-index: 900;
    width: 100%;
    max-width: none;
    height: 100%;
    background:radial-gradient(circle, rgba(42, 30, 107, 1) 0%, rgba(35, 37, 46, 1) 100%);
    background-size: cover;
    transition: width 1s ease-in-out;
    -webkit-transition: width 1s ease-in-out
}

.panel-cover .user-image {
    margin-bottom: 1rem;
    position: relative;
    width: 10rem;
    height: 10rem;
    border: 3px double #dedede;
    border-radius: 100%
}

.panel-cover--collapsed {
    width: 25%;
    max-width: 530px
}

.panel-cover--collapsed .navigation-wrapper {
    flex-direction: column;
    -webkit-flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem
}

.panel-cover--collapsed .panel-cover__description {
    display: none
}

.panel-cover--collapsed .panel-cover__divider--secondary {
    display: none
}

.panel-cover--overlay {
    display: block;
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: radial-gradient(circle, rgba(42, 30, 107, 1) 0%, rgba(35, 37, 46, 1) 100%);
    background-image: -webkit-radial-gradient(circle, rgba(42, 30, 107, 1) 0%, rgba(35, 37, 46, 1) 100%);
    background-image: radial-gradient(circle, rgba(42, 30, 107, 1) 0%, rgba(35, 37, 46, 1) 100%);
}

.panel-cover__logo {
    margin-bottom: .2em
}

.panel-cover__description {
    margin: 0 30px
}

.panel-cover__divider {
    width: 50%;
    margin-top: 1rem;
    border-top: 1px solid rgba(255,255,255,0.14)
}

.panel-cover__divider--secondary {
    width: 25%
}

.panel-main {
    display: table;
    width: 100%;
    height: 100%
}

.no-js .panel-main {
    width: 30%;
    max-width: 530px
}

.panel-main__inner {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    z-index: 800;
    padding: 0 1rem
}

.panel-main__content {
    max-width: 620px;
    margin: 0 auto
}

.panel-main__content--fixed {
    width: 480px;
    transition: width 1s;
    -webkit-transition: width 1s
}

.panel-inverted {
    font-weight: 100;
    text-align: center;
    color: #f0f0f0;
    text-shadow: 0 1px 1px rgba(0,0,0,0.4)
}

.panel-inverted a {
    color: #f0f0f0
}

.navigation-wrapper {
    flex: 1;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: space-evenly;
    -webkit-justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.cover-navigation {
    line-height: 1em;
    font-weight: bold;
    font-size: 100%;
    justify-content: center;
    align-content: center;
    padding: .5rem
}

.cover-disabled {
    background: none
}

.navigation {
    display: flex;
    flex: 1;
    justify-content: center;
    list-style-type: none;
    margin: auto;
}
.navigation__item {
    flex: 1;
    display: inline-block;
    align-content: center;
    margin: 0;
    line-height: 1em;
}
.navigation--social a {
    display: flex;
    flex: 1;
    border-radius: 50%;
    padding: 6px 8px 6px 9px;
    margin: auto .15rem;
}

.navigation__item a {
    display: block;
    border-color: #f0f0f0;
    color: #f0f0f0;
    opacity: .8;
}

 .navigation__item a {
    white-space: nowrap;
    padding: 10px 20px;
    border: 1px solid #f0f0f0;
    border-radius: 20px;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: none;
    color: #f0f0f0;
    -webkit-font-smoothing: antialiased;
}

.navigation--social a .label {
    display: none;
}
.navigation--social a i {
    font-size: 1.3em;

}

@media all and (max-width: 576px) {
    .navigation-wrapper {
        display: block;
    }
    .navigation__item {
        flex:  0;
    }


}


