---
layout: compress
# Default layout
# v2.0

# © 2017-2019 Cotes Chung
# MIT Licensed
---

<!DOCTYPE html>

{% capture prefer_mode %}
{% if site.theme_mode != "dual" %}
mode="{{ site.theme_mode }}"
{% endif %}
{% endcapture %}

<html lang="en" {{ prefer_mode }}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Web Development Blogs, Tutorials, Article by Pushpak Panchal Focusing on Asp.net, Angular, React Csharp, JavaScript etc.
    </title>
    
    <meta name="description" content="Articles by Pushpak Panchal on various topic that focuses on Asp.net, MVC, Csharp, React, Angular, JavaScript etc" />
    <meta name="keywords" content="Pushpak Panchal, Pushpak, Panchal, Pushpakkumar, Pushpakkumar Panchal, Pushpak Panchal Chicago, Pushpakkumar Chicago" />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Pushpak Panchal">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Pushpak Panchal">
    <meta name="twitter:description" content="Articles by Pushpak Panchal on various topic that focuses on Asp.net, MVC, Csharp, React, Angular, JavaScript etc">
    <meta name="twitter:creator" content="pushpk_net">
    <meta name="twitter:image" content="{{ icon_url }}/android-icon-192x192.png" />
    <meta property="og:type" content="article">
    <meta property="og:title" content="Rich Werden">
    <meta property="og:description" content="Articles by Pushpak Panchal on various topic that focuses on Asp.net, MVC, Csharp, React, Angular, JavaScript etc">
    <meta property="og:image" content="{{ icon_url }}/apple-icon-180x180.png" />


  </head>

{% include head.html %}
<script>
  window.onload = function () {
    
    if (sessionStorage.getItem('show') === 'blog') {
      loadBlogORWecomePage('blog');
    }
    else {
      loadBlogORWecomePage('welcome');
    }

  };
  function loadBlogORWecomePage(item) {
    
    var welcome = document.getElementById('welcome');
    var main = document.getElementById('main');
    if (item == 'blog' || item == 'project') {
      welcome.style.display = 'none';
      main.style.display = 'initial';
      sessionStorage.setItem('show', 'blog');
    }
    else {
      welcome.style.display = 'initial';
      main.style.display = 'none';
      sessionStorage.setItem('show', 'welcome');
    }
  }


</script>

<body data-spy="scroll" data-target="#toc">

  <div id="welcome" style="display: none;">
    <div class="panel-main">
      <div class="panel-main__inner panel-inverted">
        <div class="panel-main__content">
          <a  title="link to home of Pushpak Panchal" href="javascript:void(0)">
            <img src="/assets/img/sample/avatar.jpeg" alt="Pushpak Panchal"
              style="border-radius: 100%; border: 3px solid; width: 200px ;">
            <h1 class="panel-cover__title panel-title">Pushpak Panchal</h1>
          </a>
          <hr class="panel-cover__divider">
          <p class="panel-cover__description">Plain Page for Pushpak to take notes as he learns and list Side Projects
          </p>
          <hr class="panel-cover__divider panel-cover__divider--secondary">

          <div class="navigation-wrapper">

            <nav class="cover-navigation">
              <ul class="navigation">
                
                <li class="navigation__item">

                  <a href="#" title="link to Pushpak Panchal blog" class="big-button" id="blog-btn"
                    onclick="loadBlogORWecomePage('blog');"><i class="fas fa-pencil-alt"></i> Blog</a>
                </li>
              </ul>
            </nav>

            <nav class="cover-navigation navigation--social">
              <ul class="navigation">

                <li class="navigation__item">
                  <a href="https://www.github.com/{{ site.github.username }}" title="Pushpak on GitHub" target="_blank">
                  <i class="fab fa-github"></i>
                 
                  <span class="label">GitHub</span>
                  </a>
                 
                  </li>

               

                <li class="navigation__item">
                  <a href="https://www.linkedin.com/in/{{ site.linkedin.username }}" title="Pushpak on LinkedIn" target="_blank">
                    <i class="fab fa-linkedin-in"></i>
                    <span class="label">LinkedIn</span>
                  </a>
                 
                </li>

                <li class="navigation__item">
                  <a href="https://twitter.com/{{ site.twitter.username }}" title="Pushpak on Twitter" target="_blank">
                    <i class="fab fa-twitter"></i>
                  
                  <span class="label">Twitter</span>
                  </a>
                </li>

                <li class="navigation__item">
                  <a href="javascript:window.open('mailto:' + ['{{ email[0] }}','{{ email[1] }}'].join('@'))">
                    <i class="fas fa-envelope"></i>
                  
                  <span class="label">Email</span>
                </a>
                </li>
              </ul>
            </nav>

            <nav class="cover-navigation">
              <ul class="navigation">
                <li class="navigation__item">
                  <a href="/blog/tabs/projects/" onclick="loadBlogORWecomePage('project');" title="link to some projects by Pushpak Panchal" class="big-button"
                    id="project-btn"><i class="fas fa-wrench"></i> Projects</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <div class="panel-cover--overlay"></div>
    </div>
  </div>

  <div  id="main" style="display: none;">
    <div id="sidebar" class="d-flex flex-column">
      {% include sidebar.html %}
    </div>
    <div id="main-wrapper">



      {% include topbar.html %}
      <div id="main">

        {% capture _content %}
        {{ content }}
        {% endcapture %}

        {% include fixlinenos.html %}
        {{ _content }}

        {% include footer.html %}
      </div>
      {% include search-results.html %}
    </div>

    <div id="mask"></div>

    <a id="back-to-top" href="#" class="btn btn-lg btn-box-shadow" role="button">
      <i class="fas fa-angle-up"></i>
    </a>

    {% if jekyll.environment == 'production' %}
    {% include google-analytics.html %}
    {% endif %}

    {% include search-loader.html %}
  </div>
</body>

</html>